* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;
    position: absolute;
} 

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#333333, #737373, #e50914 );
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #737373;
    overflow: hidden;
}

body {
    background-image: url(../img/bckg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
}

a {
    text-decoration: none !important;
}

article header img {
    width: 200px;
}

article main.mb-5{
    margin-bottom: 5em !important;
}

article main form {
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    width: 80% !important;
}

article main form h1 {
    color: #FFFFFF;
}

article main form .form-floating .form-control,
article main form .form-floating .form-control {
    height: 1em !important;
    background-color: #333333 !important;
    border: 0;
    color: #8c8c8c;
}

article main form .form-floating input:focus {
    box-shadow: none;
    color: #8c8c8c;
}

article main form .form-floating label {
    color: #8c8c8c;
    font-weight: 500;
    font-size: 14px;
    margin-top: 1px;
}

article main form section.pt-5 {
    padding-top: 4em !important;
}

article main form section .btn {
    background-color: #e50914;
    border: 0;
    font-weight: bold;
    height: 3em;
    transition-duration: 300ms !important;
}

article main form section .btn:hover {
    background-color: #FFFFFF;
    color: #000000;
}

article main form section .form-check div:first-child label {
    color: #8c8c8c;
    font-weight: 500;
    font-size: 13px;
}

article main form section .form-check div:nth-child(2) a {
    font-weight: 500;
    font-size: 13px;
    color: #8c8c8c;
    text-decoration: none;
}

article main form section .form-check .custom-checkbox .check-box{
    width: 1.05em;
    height: 1.05em;
    border-radius: 2px !important;
    background-color: #737373;
    border: 0px;
    box-shadow: none;
    appearance: none;
    transition-duration: 200ms;
    position: relative;
}

article main form section .form-check .custom-checkbox .check-box + div{
    position: absolute;
    width: 0.45em;
    height: 0.75em;
    border: 3px solid #000000;
    border-left: none;
    border-top: none;
    top: 50%;
    left: 0.28em;
    visibility: hidden;
    transform: rotate(45deg) scale(0);
    pointer-events: none;
}

article main form section .form-check .custom-checkbox .check-box:checked + div{
    transition: 200ms ease;
    visibility: visible;
    transform: rotate(45deg) scale(1);
}

article main form section .form-check .custom-checkbox .check-box:hover{
    background-color: rgba(115, 115, 115, 0.8);
}

.rounded {
    border-radius: 4px !important;
}

article main form section:nth-child(2) .assign h5 {
    color: #737373;
    font-weight: 400;
    font-size: 18px;
}

article main form section:nth-child(2) .assign a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

article main form #saiba-mais .learnMore > p,
article main form #saiba-mais .termos > p {
    font-size: 14px !important;
    color: #7a7878;
}

article main form #saiba-mais .termos {
    visibility: hidden;
    padding-bottom: 1.25em;
    opacity: 0;
}

article main form #saiba-mais .termos.active {
    visibility: visible;
    opacity: 1;
}

article footer {
    background-color: rgba(0,0,0,.75);
}

article footer.px-5 {
    padding-left: 10% !important;
    padding-top: 1% !important;
    padding-bottom: 2% !important;
}

article footer section:first-child {
    align-items: baseline;
    gap: 6px;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

article footer section:first-child h5 {
    color: #737373;
    font-weight: 500;
    font-size: 18px;
}

article footer section:first-child a {
    font-weight: 500;
    font-size: 18px;
}

article footer a {
    color: #737373;
}

article footer a:hover {
    text-decoration: underline !important;
}

article footer section:nth-child(2) {
    margin-bottom: 1.15em;
}

article footer section:nth-child(2) ul {
    display: flex !important;
}

article footer section:nth-child(2) ul li {
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 2.25em;
}

article footer section:nth-child(3) {
    margin-bottom: 1.25em;
}

article footer section:nth-child(3) .dropdown button{
    background-color: rgba(0,0,0,.75);
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #73737370;
    color: #8c8c8c;
    height: 3em;
}

article footer section:nth-child(3) .dropdown button i{
    color: #8c8c8c;
}


