*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

article .background::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000070;
}

article header img{
    width: 200px;
}

article main form{
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    width: 80% !important;
}

article main form h1{
    color: #FFFFFF;
}

article main form .form-floating .inputEmail{
    height: 2.50em !important;
    background-color: #333333 !important;
    border: 0;
    color: #8c8c8c;
}

article main form .form-floating label{
    color: #8c8c8c;
}

article main form .form-floating input:focus{
    box-shadow: none;
    color: #8c8c8c;
}

article main form .form-floating label{
    font-weight: 500;
    font-size: 16px;
}